<%= turbo_frame_tag "coffee_tab" do %>
  <div class="links">
    <h2>Your Brews</h2>
    <h3><%= link_to "Recent Brews", coffee_recent_brews_path(@coffee) %></h3>
    <h3><%= link_to "Reviews", coming_soon_coffee_path(@coffee) %></h3>
  </div>
  <hr>
  <% if @user_brews.present? %>
    <div class="brews-table" id="brews_table">
      <%= render 'brews/brews_table', brews: @user_brews %>
    </div>
  <% else %>
    <h3 class="no-brews">You haven't logged any brews for this coffee </h3>
  <% end %>
<% end %>