<%= turbo_frame_tag "coffee_tab" do %>
  <div class="links">
    <h2><%= link_to "Recent Brews", coffee_recent_brews_path(@coffee) %></h2>
    <h1>Your Brews</h1>
    <h2><%= link_to "Reviews", coming_soon_coffee_path(@coffee) %></h2>
  </div>
  <hr>
  <% if @user_brews.present? %>
    <%= render 'brews/brews_table', brews: @user_brews %>
  <% else %>
    <h3 class="no-brews">You haven't logged any brews for this coffee </h3>
  <% end %>
<% end %>