<p style="color: green"><%= notice %></p>

<h1>Coffees</h1>

<div id="coffees">
  <% @coffees.each do |coffee| %>
    <%= render coffee %>
    <p>
      <%= link_to "Show this coffee", coffee %>
    </p>
  <% end %>
</div>

<%= link_to "New coffee", new_coffee_path %>
