<main class="<%= controller_name %>-<%= action_name %>">

  <header>
    <div class="title">
      <h1>Add a Coffee</h1>
    </div>
  </header>

  <%= render "form", coffee: @coffee %>

  <div>
    <%= link_to "Back to coffees", coffees_path %>
  </div>
</main>