<p style="color: green"><%= notice %></p>
<main class="coffes">
  <%= render @coffee %>

  <div class="admin-controls-container" style="display:none;">
    <div class="admin-controls">
      <h1>Admin Controls</h1>
      <% if current_user.admin? %>
        <%= link_to "Edit this coffee", edit_coffee_path(@coffee) %>
        <%#= button_to "Destroy this coffee", @coffee, method: :delete %>
      <% end %>
    </div>
  </div>

</main>
