<main class="coffees show">
  <% if current_user&.admin && false %>
    <div class="admin-controls-container">
      <div class="admin-controls">
        <h1>Admin Controls</h1>
        <%= link_to "Edit this coffee", edit_coffee_path(@coffee) %>
        <%#= button_to "Destroy this coffee", @coffee, method: :delete %>
      </div>
    </div>
  <% end %>
  <div class="banner banner-primary-1">
    <div class="banner-content">
      <%= render @coffee %>
    </div>
  </div>
  

</main>
