<div class="brew-row row">
  <div class="td">
    <h5>You haven't logged any brews yet.</h5>
  </div>
</div>
<hr>
<div class="brew-row row">
  <div class="td">
    <h5> Add a coffee to your shelf and click " Make a Brew <i class="icon-basic-coffee-cup-3"></i> " to log
      your first brew.</h5>
  </div>
</div>
<hr>
<div class="brew-row row">
  <div class="td coffee-name">
    <h5>
      Example Coffee
    </h5>
  </div>
  <div class="td equipment desktop">E.g. V60</div>
  <div class="td row ratio">
    <div class="data"><i class="icon-basic-coffee-beans-4"></i>15g</div>
    <div class="data"><i class="icon-basic-water-drop"></i>250g</div>
    <div class="data ratio-value">1:15.0</div>
    <div class="equipment mobile">E.g. V60</div>
  </div>
  <div class="td row config">
    <div class="data"><i class="icon-basic-stopwatch-1"></i>02:30</div>
    <div class="data"><i class="icon-basic-temperature"></i>95</div>
    <div class="rating mobile">7/10</div>
  </div>
  <div class="td rating desktop">7/10</div>
  <div class="td created">
    <p><small>2 days ago</small></p>
  </div>
</div>