<div class="dashboard">
  <div class="welcome">
    <h1>Welcome Back <%= current_user.first_name %></h1>
    <h3>Find A coffee</h3>
    <h3>Do Something</h3>
    <h3>Do Something Else</h3>
  </div>

  <div class="shelf-container">
    <%= render 'shelf' %>
  </div>

  <div class="brews-container">
    <%= render 'brews' %>
  </div>

  <div class="favourites-container">
    <%= render 'favourites' %>
  </div>
</div>
