<div class="devise column">
  <div class="column card">
    <div class="form">
      <h1 class="logo">Daily Brew</h1>
      <div class="form-title">
        <h2>Confirm Email</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |form| %>
        <div class="field">
          <%= form.email_field :email, class: 'form-input', autocomplete: 'email', placeholder: 'Email', required: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          <%= form.label :email, class: 'form-label' %>
        </div>
        <div class="action">
          <%= form.submit 'Send Instructions', class: 'form-submit btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
