<table class="brews-table">
  <tbody id="brews_table">
    <% @brews.each do |brew| %>
      <tr onclick="//location.href='<%= brew_path(brew) %>'" class="brew-row row">
        <td class="coffee-name"><%= brew.coffee.name %></td>
        <td class="equipment"><p><%= brew.equipment %></p></td>
        <td class="config"></td>
        <td class="created"><p><%= brew.created_at > 1.week.ago ? "#{time_ago_in_words(brew.created_at)} ago" : brew.created_at.strftime("%d %b %Y") %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>