<p style="color: green"><%= notice %></p>
<main class="<%= controller_name %>-<%= action_name %>">

  <h1>Brews</h1>

  <h2>Coming Soon!</h2>
  <p>At some point soon this page will show all your previous brews</p>
<!--  <div id="brews">-->
    <%# @brews.each do |brew| %>
      <%#= render brew %>
<!--      <p>-->
        <%#= link_to "Show this brew", brew %>
<!--      </p>-->
    <%# end %>
<!--  </div>-->

</main>