<%= turbo_frame_tag "users_handler" %>
<table id="users_table" class="users-table">
  <tr>
    <th>Display Name</th>
    <th><i class="icon-sl-email-1"></i></th>
    <th><i class="icon-sl-bookmark"></i></th>
    <th><i class="icon-sl-profile-1"></i></th>
    <th><i class="icon-basic-super"></i></th>
    <th><i class="icon-sl-shelf"></i></th>
    <th><i class="icon-sl-heart-3"></i></th>
    <th><i class="icon-basic-coffee-cup"></i></th>
    <th><i class="icon-basic-coffee-cup-1"></i></th>
    <th>Last Sign In </th>
  </tr>
  <%= render "users_table", users: @users %>
</table>
<%= render "users_table_pager", pagy_users: @pagy_users %>