<div id="<%= dom_id roaster %>" class="roaster-card card column">
  <div class="header">
    <div class="left">
      <h3><%= link_to roaster.name, roaster, class: 'link link-primary link-title' %></h3>
      <div class="location">
        <%= roaster.location.split(',').last(2)[0].titleize %>
      </div>
    </div>
    <div class="available-coffees">
      <span class="count"><%= roaster.available_coffees_count %></span><i class="icon-sl-coffee-1"></i>
    </div>
  </div>
</div>