<div id="<%= dom_id roaster %>" class="roaster-card card column">
  <div class="header">
    <div class="left">
      <h3><%= link_to roaster.name, roaster, class: 'link link-primary link-title' %></h3>
      <div class="location">
        <%= roaster.location.split(',').last(2)[0]&.titleize %>
      </div>
    </div>
    <div class="available-coffees icon-line-2">
      <% if roaster.available_coffees_count > 0 %>
        <span class="count"><%= roaster.available_coffees_count %></span><i class="icon-basic-coffee-beans-4"></i>
      <% end %>
    </div>
  </div>
</div>