
<nav class="navbar">
    <div class="nav-left">

    </div>
    <div class="nav-brand">
        <%= link_to "Ride the Wave", root_path, class: "brand" %>

    </div>

    <div class="nav-right">

    </div>
</nav>
