@import "variables";

.admin {
  .row {
    justify-content: space-evenly;
    flex-wrap: wrap;

    [class$="-table"] {
      border: 1px solid rebeccapurple;
      height: 350px;
      overflow-y: scroll;
      display: block;

      td {
        padding: 0 0.4rem;
      }
    }
  }
}

.admin-controls-container {
  @media screen and (max-width: $screen-lg) {
    display: none;
  }
  position: absolute;
  padding: 1.5rem 3.5rem;
  right: 0;
  top: 120px;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  border: 0.2rem dashed #FFB47955;
  background: repeating-linear-gradient(-40deg, #FE787C25, #FFB47925 10px, #FFB47925 10px, #FE787C25 40px);

  .admin-controls {
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: $ink-80;
    text-align: center;

    h1 {
      font-size: 1.5rem;
      color: $warning-dark;
    }

    p {
      color: $color-complementary-2
    }

    .btn {
      margin: 0.25rem;
      padding: 0.25rem 0.5rem;
      box-shadow: 0 0 2px 2px $color-primary-opacity-10;
      transition: 0.2s;

      &:hover {
        box-shadow: none;
      }
    }
  }
}