@import "variables";

.brews {
  &-index {
    .banner-primary-1 .banner-content p {
      text-align: center;
    }

    .brews-container {
      max-width: $container-xxl;
      margin: 0 auto;
      padding: 2rem;

      @media screen and (max-width: $screen-lg) {
        padding: 2rem 1rem;
      }

      .card {
        padding: 1rem;
      }
    }
  }

  &-table {
    width: 100%;
    
    .brew-row {
      position: relative;
      padding: 1rem 0.5rem;

      @media screen and (max-width: $screen-lg) {
        display: block;

        .config, .created {
          display: block;
        }
      }

      td {
        padding: 0 0.5rem;
      }

      @media screen and (min-width: $screen-lg) {
        .coffee-name {
          width: 30%;
        }

        .equipment {
          width: 20%;
        }
      }

      .config {
        width: 35%;

        @media screen and (max-width: $screen-lg) {
          width: 100%;
        }
      }

      .created {
        width: 15%;
        text-align: right;

        @media screen and (max-width: $screen-lg) {
          width: 100%;
        }
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 1rem;
        bottom: 0;
        width: calc(100% - 2rem);
        height: 1px;
        background-color: $color-primary-0;
        opacity: 0.25;
      }
    }
  }
}

.brews-new, .brews-create, .brews-edit, .brews-update {
  max-width: $container-lg;
  &-new, &-create, &-edit, &-update {
    max-width: $container-lg;

    header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      padding: 0 1rem;

      .title {
        max-width: $container-sm;

        h2 {
          font-size: 1.2rem;
          line-height: 0.95;
        }
      }

      .created-at {
        align-self: flex-end;
      }

      .stopwatch {
        align-self: flex-end;
        color: $color-primary-1;


        .time {
          width: $container-xs;
          padding: 0 0.5rem;
          font-size: 3rem;
          font-variant-numeric: tabular-nums;
        }

        .controls {
          display: flex;
          justify-content: space-between;
          align-content: flex-end;
          text-align: center;

          button {
            font-size: 1.5rem;
            background-color: white;
            border: 1px solid $color-primary-1;
            border-radius: 2rem;
            color: $color-primary-1;
            padding: 0.5rem 1rem;
            font-weight: 600;

          }

          #start_button:hover {
            color: forestgreen;
          }

          #pause_button:hover {
            color: royalblue;
          }

          .reset_button:hover {
            color: darkred;
          }

        }
      }
    }

    .info {
      padding: 1rem;
    }

    .links {
      text-align: center;
    }

    .field {
      margin-bottom: 0.75rem !important;
    }

    .ratio-row {
      padding: 0.5rem 0;

      .field {
        flex: 1;

        &.ratio .form-input {
          background: white;

        }
      }
    }
  }

  &-show {
    .banner {
      height: calc(100vh - #{$nav-height});

      .banner-content .card div p {
        color: $ink;
      }

      .row {
        display: flex;
        justify-content: space-evenly;
        font-variant-numeric: tabular-nums;
      }

      .title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.25rem;

        .link-danger {
          font-size: 1.5rem;
          border: 1px solid;
          border-radius: 2rem;
        }
      }

      .ratio-row {
        padding: 0.5rem 0;
      }

      .field .link {
        font-size: 1rem;
      }
      .notes {
        margin: 0.5rem -1rem;

        .form-input {
          height: fit-content;
        }

        textarea {
          min-height: 10rem;
        }
      }
      .rating {
        margin: 0.5rem auto 0.5rem -1rem ;
      }
    }
  }
}