@import "variables";

.btn {
  cursor: pointer;
  font-family: $font;
  font-weight: 300;

  &-primary {
    background-color: $color-primary-0;
    color: white;

    &:hover {
      background-color: $color-primary-1;
    }
  }
}