@import "variables";

.btn, .link {
  font-family: $font;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  text-align: center;
  border: 1px solid;

  &-primary {
    background-color: $color-primary-1;
    border-color: $color-primary-1;
    color: white;

    &:hover, &:focus {
      background-color: $color-primary-2;
      color: white;
    }

    &-border {
      background-color: white;
      border-color: $color-primary-1;
      color: $color-primary-1;

      &:hover, &:focus {
        background-color: $color-primary-2;
        border-color: $color-primary-2;
        color: $color-white;
      }
    }
  }

  &-complementary {
    background-color: $color-complementary-0;
    border-color: $color-complementary-0;
    color: $color-primary-1;

    &:hover, &:focus {
      background-color: $color-complementary-2;
      border-color: $color-complementary-2;
    }
  }
}

.link {
  &:hover {
    cursor: pointer;
  }

  &-primary {
    color: $color-primary-1;
    
    &:hover {
      color: $color-primary-2;
    }
  }

  &-white {
    color: $color-white;

    &:hover {
      color: $color-complementary-0;
    }
  }

  &-title {
    border-bottom: 3px solid $color-complementary-0;

    &:hover {
      border-bottom-color: $color-complementary-1;
    }
  }

  &-complementary {
    color: $color-complementary-0;

    &:hover {
      color: $color-complementary-2;
    }
  }

  &-danger {
    color: $danger-dark;

    &:hover {
      color: $danger;
    }
  }

  &-icon {
    position: relative;
    width: 32px;
    height: 32px;
    font-size: 1.25rem;
    border-radius: 50%;
    border: 1px solid $color-primary-1;

    &:hover {
      background-color: $color-primary-3;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

    }
  }
}
