@import "variables";

.btn, .link {
  font-family: $font;
  transition: background-color 0.25s, color 0.25s;

  &:hover { cursor: pointer; }
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  text-align: center;
  border: none;

  &-primary {
    background-color: $color-primary-0;
    color: white;

    &:hover, &:focus {
      background-color: $color-primary-1;
      color: white;
    }

    &-border {
      background-color: white;
      box-shadow: inset 0 0 0 2px $color-primary-0;
      color: $color-primary-0;

      &:hover, &:focus {
        background-color: rgba(6,71,99,0.25);
        color: $color-primary-0;
      }
    }
  }
}

.link {
  &:hover {
    cursor: pointer;
  }

  &-primary {
    color: $color-primary-0;

    &:hover {
      color: $color-primary-1;
    }
  }

  &-complementary {
    color: $color-complementary-0;

    &:hover {
      color: $color-complementary-2;
    }
  }
}
