@import "variables";

.coffees {
  &-index {
    .banner-primary-1 p {
      font-size: 1.1rem;
      text-align: center;
    }

    .no-results {
      max-width: $container-lg;
      padding: 0 1rem;
    }
  }

  &-new, &-create, &-edit, &-update {
    header a {
      color: $color-mid-1;

      &:hover {
        color: $color-primary-3;
      }
    }

    form {
      max-width: $container-lg;
      margin: 1rem auto;
    }
  }
}
