@import "variables";

.coffees {
  &.index {
    .banner-primary-1 p {
      font-size: 1.1rem;
      text-align: center;
    }
  }

  &-new, &-create, &-edit, &-update {
    max-width: $container-lg;

    .title h2 {
        font-size: 1.2rem;
    }
  }
}
