@import "variables";

.coffee-card {
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  flex-grow: 1;
  flex-basis: calc(25% - 2rem);
  max-width: 25%;

  @media screen and (max-width: $screen-xxl) {
    flex-basis: calc(33% - 2rem);
    max-width: 33%;
  }

  @media screen and (max-width: $screen-xl) {
    flex-basis: calc(50% - 1rem);
    max-width: 50%;
  }

  @media screen and (max-width: $screen-lg) {
    flex-basis: calc(50% - 1rem);
    max-width: 50%;
  }

  @media screen and (max-width: $screen-md) {
    flex-basis: 100%;
    max-width: 100%;
  }

  .coffee-card-content {
    justify-content: space-between;
    gap: 1rem;

    .column:not(.controls) {
      width: 100%;
    }

    .name {
      margin-bottom: 0.5rem;
    }

    .country, .tasting-notes {
      font-size: 1rem;
      font-weight: 200;
      letter-spacing: -0.25px;
    }

    .controls {
      gap: 0.5rem;
    }
  }

  .metadata {
    margin-top: 1rem;
    justify-content: center;
    gap: 0.5rem;

    span {
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }
}
