@import "variables";

.dashboard {
  min-height: calc(100vh - #{$nav-height});
  padding-bottom: 4rem;
  background-color: $color-primary-1;

  .banner-primary-1 .banner-content {
    max-width: $container-xxl;
    padding: 2rem 2rem 0 !important;

    @media screen and (max-width: $screen-lg) {
      padding: 1rem 1rem 0 !important;
    }
  }

  .header {
    padding: 1rem 0;
    max-width: $container-xl;
    margin: auto;

    .username {
      margin-bottom: 0.5rem;
    }

    .row {
      gap: 0.5rem;
      color: $color-white;
      opacity: 0.8;
    }
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  .shelf {
    gap: 1rem;
    overflow-x: scroll;
    padding-bottom: 1rem;

    .coffee-card {
      width: $container-sm;
      height: 100%;
    }
  }

  section.favourites{
    .shelf .coffee-card {
      width: 450px;
    }
  }

  .brews {
    padding: 1rem;

    .brews-table {
      width: 100%;

      .brew-row {
        padding: 1rem;
        border-radius: 2rem;
        position: relative;
        transition: all .25s;

        @media screen and (max-width: $screen-lg) {
          display: block;

          td {
            display: block;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: $color-primary-0;

          .coffee-name, p {
            color: $color-white;
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 1rem;
          bottom: 0;
          width: calc(100% - 2rem);
          height: 1px;
          background-color: $color-primary-opacity-25;
        }

        p {
          color: $ink;
        }

        .coffee-name {
          font-weight: 600;
        }

        .created {
          text-align: right;
        }

        @media screen and (min-width: $screen-lg) {
          .coffee-name {
            width: 50%;
          }

          .equipment {
            width: 20%;
          }

          .rating {
            width: 10%;
          }

          .created {
            width: 20%;
          }
        }
      }
    }

    .link {
      display: block;
      padding: 1rem;
      text-align: center;
    }
  }
}
