@import "variables";

.dashboard {
  min-height: 100vh;
  background-color: $color-primary-1;

  .banner-primary-0 .banner-content {
    max-width: $container-xl;

    .username {
      margin-bottom: 0.5rem;
    }

    .row {
      gap: 0.5rem;
      color: $color-white;
    }
  }

  .dashboard-content {
    max-width: $screen-xl;
    margin: 0 auto;
    padding: 0 2rem;

    @media screen and (max-width: $screen-lg) {
      padding: 0 1rem;
    }
  }
}
