@import "variables";

.devise {
  min-height: 100vh;
  padding: 1rem;

  .form {
    width: 380px;

    @media screen and (max-width: $screen-sm) {
      width: 100%;
    }
  }

  &.registration {
    background-color: #ecf0f2;

    .registration-row {
      max-width: 1200px;
      min-height: 800px;
      width: 100%;

      @media screen and (max-width: $screen-lg) {
        flex-direction: column;
        min-height: fit-content;
      }

      .column {
        justify-content: center;

        @media screen and (max-width: $screen-lg) {
          padding-top: 4rem;
          padding-bottom: 4rem;
        }

        &:first-child {
          flex-basis: 60%;
          align-items: center;
          background-color: #FFFFFF;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          @media screen and (max-width: $screen-lg) {
            border-top-left-radius: 0;
            border-bottom-right-radius: 2rem;
            order: 1;
          }
        }

        &:last-child {
          flex-basis: 40%;
          background-color: $color-primary-0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          @media screen and (max-width: $screen-lg) {
            order: 0;
            border-top-left-radius: 2rem;
            border-bottom-right-radius: 0;
          }
        }

        &.brand {
          gap: 1rem;

          .logo {
            margin-left: 1rem;
            text-align: left;
            text-indent: -1rem;
            font-size: 10rem;

            @media screen and (max-width: $screen-lg) {
              text-align: center;
              font-size: 10rem;
            }

            @media screen and (max-width: $screen-md) {
              font-size: 7.5rem;
            }

            @media screen and (max-width: $screen-sm) {
              font-size: 5rem;
            }
          }

          .tag-line {
            color: white;
            opacity: 0.5;
            font-size: 1rem;
            text-align: right;
          }
        }
      }
    }
  }

  &.login {
    .container {
      gap: 2rem;
      max-width: 720px;
      width: 100%;
      padding-bottom: 6rem;

      @media screen and (max-width: $screen-lg) {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }

      .logo {
        color: $color-primary-0;
      }
    }
  }
}
