@import "variables";

.devise {
  min-height: 100vh;
  background-color: #ecf0f2;

  .devise-container {
    max-width: 1200px;
    min-height: 800px;
    width: 100%;
    height: 100%;
    padding: 1rem;
    
    @media screen and (max-width: $screen-lg) {
      flex-direction: column;
    }

    @media screen and (max-width: $screen-sm) {
      padding: 0.5rem;
    }

    .column {
      padding: 4rem;

      @media screen and (max-width: $screen-lg) {
        padding: 2rem;
      }

      @media screen and (max-width: $screen-sm) {
        padding: 1rem;
      }

      &:first-child {
        flex-basis: 60%;
        background-color: #FFFFFF;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $screen-lg) {
          order: 1;
        }
      }

      &:last-child {
        flex-basis: 40%;
        background-color: $color-primary-0;

        @media screen and (max-width: $screen-lg) {
          order: 0;
        }
      }

      h2 {
        font-weight: 600;
        letter-spacing: -1px;
        margin-bottom: 2rem;
        color: $color-primary-0;
      }

      .form {
        width: 380px;

        @media screen and (max-width: $screen-sm) {
          width: 100%;
        }
      }
    }
  }
}
