@import "variables";

$label-transform: scale(0.7) translateY(-0.4rem) translateX(0.9rem);

@mixin label-above-input {
  & + .form-label {
    transform: $label-transform;
  }
}

.field {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-input {
    font-family: $font;
    display: block;
    width: 100%;
    height: calc(3.5rem + 2px);
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid $color-mid-1;
    border-radius: 2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      // border-color: $color-secondary-dark;
      outline: 0;
      box-shadow: 0 0 0 2px $color-secondary-dark;
    }

    &:target, &:not(:placeholder-shown) {
      padding-top: 1.65rem;
      padding-bottom: 0.75rem;

      @include label-above-input();
    }
  }

  .form-label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    pointer-events: none;
    border: 1px solid transparent;
    line-height: 1.5;
    transform-origin: 0 0;
    opacity: 0.65;
    transition: transform 0.1s ease-in-out;
  }
}
