@import "variables";

.field {
  position: relative;
  margin-bottom: 1rem;

  .form-input {
    display: block;
    padding: 1rem 2rem;
    background-clip: padding-box;
    border: 1px solid $color-mid-1;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px $color-complementary-0;
    }

    &:target, &:not(:placeholder-shown) {
      padding-top: 1.65rem;
      padding-bottom: 0.75rem;

      & + .form-label {
        transform: scale(0.7) translateY(-0.4rem) translateX(0.9rem);
      }
    }
  }

  .form-label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    pointer-events: none;
    border: 1px solid transparent;
    line-height: 1.5;
    transform-origin: 0 0;
    opacity: 0.65;
    transition: transform 0.1s ease-in-out;
  }
}

.form-link {
  justify-content: flex-end;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}

.action {
  margin-top: 1.5rem;
}

.form-input, .form-submit {
  width: 100%;
  height: calc(3.5rem + 2px);
  border-radius: 2rem;
  font-family: $font;
  font-size: 1.1rem;
  line-height: 1.5;
}
