@import "variables";

html, body {
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  margin: 0;
}

body {
  margin: 0;
  background-color: $color-white;
  font-family: $font;
  color: $ink;

  main {
    margin: $nav-height auto 0;
  }

  h1, h2, h3, h4, h5 {
    color: $color-primary-0;
    font-weight: 600;
    letter-spacing: -1px;
  }

  h1 {
    font-size: 3rem;

    @media screen and (max-width: $screen-lg) {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-size: 2rem;

    @media screen and (max-width: $screen-lg) {
      font-size: 1.8rem;
    }
  }

  h3 {
    font-size: 1.5rem;

    @media screen and (max-width: $screen-lg) {
      font-size: 1.3rem;
    }
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 0.75rem;
  }

  p {
    font-size: 1rem;

    @media screen and (max-width: $screen-lg) {
      font-size: 0.938rem;
    }

    @media screen and (max-width: $screen-md) {
      font-size: 0.875rem;
    }
  }

  .logo {
    font-family: $heading-font;
    color: $color-brand;
    line-height: 0.67;
  }

  a {
    text-decoration: none;
  }

  button {
    background-color: transparent;
    border: none;
  }
  
  .button-tabs {
    display: flex;
    border-bottom: $color-secondary-dark solid;

    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  hr {
    opacity: 0.25;
    border: 0;
    height: 1.06px;
    background: $color-secondary-dark; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, transparent 0%, $color-secondary-dark 25%, $color-secondary-dark 75%, transparent 100%); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, transparent 0%, $color-secondary-dark 25%, $color-secondary-dark 75%, transparent 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, transparent 0%, $color-secondary-dark 25%, $color-secondary-dark 75%, transparent 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, transparent 0%, $color-secondary-dark 25%, $color-secondary-dark 75%, transparent 100%); /* Standard syntax */

    width: 100%;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  .admin-controls-container {
    display: flex;
    justify-content: center;

    .admin-controls {
      padding: 2rem 4rem;
      background: repeating-linear-gradient(-40deg, #FE787C25, #FFB47925 10px, #FFB47925 10px, #FE787C25 40px);
      border: 0.2rem dashed #FFB47955;
      border-radius: 1rem;
      text-align: center;


      h1 {
        font-size: 1.5rem;
        color: $danger-light;
      }

      a {
        color: $warning-light;

        &:hover {
          color: $warning;
        }
      }
    }
  }

  .pager {
    justify-content: center;
  }
}
