@font-face {
    font-family: "icon-basic";
    src: url("icon-basic.ttf?2246587f3b9cfc1044103c6796e91d63") format("truetype"),
url("icon-basic.woff?2246587f3b9cfc1044103c6796e91d63") format("woff"),
url("icon-basic.woff2?2246587f3b9cfc1044103c6796e91d63") format("woff2"),
url("icon-basic.eot?2246587f3b9cfc1044103c6796e91d63#iefix") format("embedded-opentype"),
url("icon-basic.svg?2246587f3b9cfc1044103c6796e91d63#icon-basic") format("svg");
}

i[class^="icon-basic-"]:before, i[class*=" icon-basic-"]:before {
    font-family: icon-basic !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-basic-water-drop:before {
    content: "\f101";
}
.icon-basic-water-drop-1:before {
    content: "\f102";
}
.icon-basic-heart:before {
    content: "\f103";
}
.icon-basic-heart-1:before {
    content: "\f104";
}
.icon-basic-favourite:before {
    content: "\f105";
}
.icon-basic-favourite-1:before {
    content: "\f106";
}
.icon-basic-coffee-beans:before {
    content: "\f107";
}
.icon-basic-coffee-beans-1:before {
    content: "\f108";
}
.icon-basic-coffee-machine:before {
    content: "\f109";
}
.icon-basic-coffee-maker:before {
    content: "\f10a";
}
.icon-basic-coffee-bag:before {
    content: "\f10b";
}
.icon-basic-drip-glass:before {
    content: "\f10c";
}
.icon-basic-coffee-bag-1:before {
    content: "\f10d";
}
.icon-basic-coffee-cup:before {
    content: "\f10e";
}
.icon-basic-dripper:before {
    content: "\f10f";
}
.icon-basic-list:before {
    content: "\f110";
}
.icon-basic-settings:before {
    content: "\f111";
}
.icon-basic-star:before {
    content: "\f112";
}
.icon-basic-star-1:before {
    content: "\f113";
}
.icon-basic-email:before {
    content: "\f114";
}
.icon-basic-loading:before {
    content: "\f115";
}
.icon-basic-list-1:before {
    content: "\f116";
}
.icon-basic-details:before {
    content: "\f117";
}
.icon-basic-thermometer:before {
    content: "\f118";
}
.icon-basic-temperature:before {
    content: "\f119";
}
.icon-basic-temperature-1:before {
    content: "\f11a";
}
.icon-basic-stopwatch:before {
    content: "\f11b";
}
.icon-basic-timer:before {
    content: "\f11c";
}
.icon-basic-scale:before {
    content: "\f11d";
}
.icon-basic-balance:before {
    content: "\f11e";
}
.icon-basic-scale-1:before {
    content: "\f11f";
}
.icon-basic-user:before {
    content: "\f120";
}
.icon-basic-heart-2:before {
    content: "\f121";
}
.icon-basic-heart-3:before {
    content: "\f122";
}
.icon-basic-clock:before {
    content: "\f123";
}
.icon-basic-clock-1:before {
    content: "\f124";
}
.icon-basic-user-1:before {
    content: "\f125";
}
.icon-basic-bookmark:before {
    content: "\f126";
}
.icon-basic-list-2:before {
    content: "\f127";
}
.icon-basic-stop-watch:before {
    content: "\f128";
}
.icon-basic-down-arrow:before {
    content: "\f129";
}
.icon-basic-right-arrow:before {
    content: "\f12a";
}
.icon-basic-left-arrow:before {
    content: "\f12b";
}
.icon-basic-left-arrow-1:before {
    content: "\f12c";
}
.icon-basic-rotate:before {
    content: "\f12d";
}
.icon-basic-ruler:before {
    content: "\f12e";
}
.icon-basic-magnifying-glass:before {
    content: "\f12f";
}
.icon-basic-refresh:before {
    content: "\f130";
}
.icon-basic-minimize:before {
    content: "\f131";
}
.icon-basic-close:before {
    content: "\f132";
}
.icon-basic-check:before {
    content: "\f133";
}
.icon-basic-play:before {
    content: "\f134";
}
.icon-basic-add:before {
    content: "\f135";
}
.icon-basic-menu:before {
    content: "\f136";
}
.icon-basic-check-1:before {
    content: "\f137";
}
.icon-basic-play-1:before {
    content: "\f138";
}
.icon-basic-menu-1:before {
    content: "\f139";
}
.icon-basic-add-1:before {
    content: "\f13a";
}
.icon-basic-close-1:before {
    content: "\f13b";
}
.icon-basic-minimize-1:before {
    content: "\f13c";
}
.icon-basic-twitter:before {
    content: "\f13d";
}
.icon-basic-facebook:before {
    content: "\f13e";
}
.icon-basic-instagram:before {
    content: "\f13f";
}
.icon-basic-external:before {
    content: "\f140";
}
.icon-basic-play-button:before {
    content: "\f141";
}
.icon-basic-stop:before {
    content: "\f142";
}
.icon-basic-pause:before {
    content: "\f143";
}
.icon-basic-rocket:before {
    content: "\f144";
}
.icon-basic-crown:before {
    content: "\f145";
}
.icon-basic-location:before {
    content: "\f146";
}
.icon-basic-visibility:before {
    content: "\f147";
}
.icon-basic-hide:before {
    content: "\f148";
}
.icon-basic-info:before {
    content: "\f149";
}
.icon-basic-super:before {
    content: "\f14a";
}
.icon-basic-computer:before {
    content: "\f14b";
}
.icon-basic-shuttle:before {
    content: "\f14c";
}
.icon-basic-space-shuttle:before {
    content: "\f14d";
}
.icon-basic-settings-1:before {
    content: "\f14e";
}
.icon-basic-cancel:before {
    content: "\f14f";
}
.icon-basic-tick:before {
    content: "\f150";
}
