@font-face {
    font-family: "icon-sl";
    src: url("icon-sl.ttf?e23a5bf5307872bc2f04b0105aaf76ab") format("truetype"),
url("icon-sl.woff?e23a5bf5307872bc2f04b0105aaf76ab") format("woff"),
url("icon-sl.woff2?e23a5bf5307872bc2f04b0105aaf76ab") format("woff2"),
url("icon-sl.eot?e23a5bf5307872bc2f04b0105aaf76ab#iefix") format("embedded-opentype"),
url("icon-sl.svg?e23a5bf5307872bc2f04b0105aaf76ab#icon-sl") format("svg");
}

i[class^="icon-sl-"]:before, i[class*=" icon-sl-"]:before {
    font-family: icon-sl !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sl-coffee:before {
    content: "\f101";
}
.icon-sl-coffee-cup-1:before {
    content: "\f102";
}
.icon-sl-coffee-beans:before {
    content: "\f103";
}
.icon-sl-coffee-1:before {
    content: "\f104";
}
.icon-sl-user:before {
    content: "\f105";
}
.icon-sl-placeholder:before {
    content: "\f106";
}
.icon-sl-bin:before {
    content: "\f107";
}
.icon-sl-profile:before {
    content: "\f108";
}
.icon-sl-settings:before {
    content: "\f109";
}
.icon-sl-user-1:before {
    content: "\f10a";
}
.icon-sl-user-2:before {
    content: "\f10b";
}
.icon-sl-user-3:before {
    content: "\f10c";
}
.icon-sl-user-4:before {
    content: "\f10d";
}
.icon-sl-barista:before {
    content: "\f10e";
}
.icon-sl-coffee-2:before {
    content: "\f10f";
}
.icon-sl-pot-1:before {
    content: "\f110";
}
.icon-sl-coffee-3:before {
    content: "\f111";
}
.icon-sl-coffee-beans-1:before {
    content: "\f112";
}
.icon-sl-grinding:before {
    content: "\f113";
}
.icon-sl-roast:before {
    content: "\f114";
}
.icon-sl-brewing:before {
    content: "\f115";
}
.icon-sl-coffee-grinder:before {
    content: "\f116";
}
.icon-sl-tamper:before {
    content: "\f117";
}
.icon-sl-handle:before {
    content: "\f118";
}
.icon-sl-coffee-beans-2:before {
    content: "\f119";
}
.icon-sl-coffee-machine:before {
    content: "\f11a";
}
.icon-sl-vietnam-drip:before {
    content: "\f11b";
}
.icon-sl-syphon:before {
    content: "\f11c";
}
.icon-sl-syphon-1:before {
    content: "\f11d";
}
.icon-sl-aeropress:before {
    content: "\f11e";
}
.icon-sl-moka-pot:before {
    content: "\f11f";
}
.icon-sl-turkish-ibrik:before {
    content: "\f120";
}
.icon-sl-espresso:before {
    content: "\f121";
}
.icon-sl-cold-brew:before {
    content: "\f122";
}
.icon-sl-chemex:before {
    content: "\f123";
}
.icon-sl-french-press:before {
    content: "\f124";
}
.icon-sl-coffee-pack:before {
    content: "\f125";
}
.icon-sl-coffee-4:before {
    content: "\f126";
}
.icon-sl-coffee-pods:before {
    content: "\f127";
}
.icon-sl-aeropress-1:before {
    content: "\f128";
}
.icon-sl-food-scale:before {
    content: "\f129";
}
.icon-sl-coffee-filter:before {
    content: "\f12a";
}
.icon-sl-thermometer:before {
    content: "\f12b";
}
.icon-sl-teapot:before {
    content: "\f12c";
}
.icon-sl-coffee-cup-2:before {
    content: "\f12d";
}
.icon-sl-coffee-pot:before {
    content: "\f12e";
}
.icon-sl-instant-coffee:before {
    content: "\f12f";
}
.icon-sl-portafilter:before {
    content: "\f130";
}
.icon-sl-coffee-6:before {
    content: "\f131";
}
.icon-sl-coffee-maker:before {
    content: "\f132";
}
.icon-sl-coffee-7:before {
    content: "\f133";
}
.icon-sl-syphon-2:before {
    content: "\f134";
}
.icon-sl-harvest:before {
    content: "\f135";
}
.icon-sl-heart:before {
    content: "\f136";
}
.icon-sl-drip:before {
    content: "\f137";
}
.icon-sl-coffee-shop:before {
    content: "\f138";
}
.icon-sl-heart-1:before {
    content: "\f139";
}
.icon-sl-coffee-maker-1:before {
    content: "\f13a";
}
.icon-sl-coffee-bean:before {
    content: "\f13b";
}
.icon-sl-coffee-8:before {
    content: "\f13c";
}
.icon-sl-coffee-bag:before {
    content: "\f13d";
}
.icon-sl-coffee-machine-1:before {
    content: "\f13e";
}
.icon-sl-cup:before {
    content: "\f13f";
}
.icon-sl-coffee-filter-1:before {
    content: "\f140";
}
.icon-sl-french-press-1:before {
    content: "\f141";
}
.icon-sl-geyser:before {
    content: "\f142";
}
.icon-sl-coffee-machine-2:before {
    content: "\f143";
}
.icon-sl-signboard:before {
    content: "\f144";
}
.icon-sl-coffee-pot-1:before {
    content: "\f145";
}
.icon-sl-turkish-coffee:before {
    content: "\f146";
}
.icon-sl-pack:before {
    content: "\f147";
}
.icon-sl-coffee-maker-2:before {
    content: "\f148";
}
.icon-sl-coffee-mill:before {
    content: "\f149";
}
.icon-sl-coffee-machine-3:before {
    content: "\f14a";
}
.icon-sl-drip-1:before {
    content: "\f14b";
}
.icon-sl-pot-2:before {
    content: "\f14c";
}
.icon-sl-medical-care:before {
    content: "\f14d";
}
.icon-sl-group:before {
    content: "\f14e";
}
.icon-sl-add:before {
    content: "\f14f";
}
.icon-sl-check:before {
    content: "\f150";
}
.icon-sl-cross:before {
    content: "\f151";
}
.icon-sl-cancel:before {
    content: "\f152";
}
.icon-sl-pin:before {
    content: "\f153";
}
.icon-sl-link:before {
    content: "\f154";
}
.icon-sl-arrow:before {
    content: "\f155";
}
.icon-sl-arrow-1:before {
    content: "\f156";
}
.icon-sl-info:before {
    content: "\f157";
}
.icon-sl-hand:before {
    content: "\f158";
}
.icon-sl-rubbish:before {
    content: "\f159";
}
.icon-sl-coffee-10:before {
    content: "\f15a";
}
.icon-sl-forbidden:before {
    content: "\f15b";
}
.icon-sl-hospital:before {
    content: "\f15c";
}
.icon-sl-heart-2:before {
    content: "\f15d";
}
.icon-sl-subtraction:before {
    content: "\f15e";
}
.icon-sl-cross-1:before {
    content: "\f15f";
}
.icon-sl-edit:before {
    content: "\f160";
}
.icon-sl-link-1:before {
    content: "\f161";
}
.icon-sl-padlock:before {
    content: "\f162";
}
.icon-sl-unlock:before {
    content: "\f163";
}
.icon-sl-hide:before {
    content: "\f164";
}
.icon-sl-show:before {
    content: "\f165";
}
.icon-sl-switch:before {
    content: "\f166";
}
.icon-sl-facebook:before {
    content: "\f167";
}
.icon-sl-instagram:before {
    content: "\f168";
}
.icon-sl-twitter:before {
    content: "\f169";
}
.icon-sl-youtube:before {
    content: "\f16a";
}
.icon-sl-linkedin:before {
    content: "\f16b";
}
.icon-sl-foreign:before {
    content: "\f16c";
}
.icon-sl-play-button:before {
    content: "\f16d";
}
.icon-sl-pause-button:before {
    content: "\f16e";
}
.icon-sl-stop-button:before {
    content: "\f16f";
}
.icon-sl-star:before {
    content: "\f170";
}
.icon-sl-love:before {
    content: "\f171";
}
.icon-sl-minus:before {
    content: "\f172";
}
.icon-sl-plus:before {
    content: "\f173";
}
.icon-sl-check-1:before {
    content: "\f174";
}
.icon-sl-declined:before {
    content: "\f175";
}
.icon-sl-menu:before {
    content: "\f176";
}
.icon-sl-email:before {
    content: "\f177";
}
.icon-sl-remove:before {
    content: "\f178";
}
.icon-sl-add-1:before {
    content: "\f179";
}
.icon-sl-play:before {
    content: "\f17a";
}
.icon-sl-stop:before {
    content: "\f17b";
}
.icon-sl-link-2:before {
    content: "\f17c";
}
.icon-sl-update:before {
    content: "\f17d";
}
.icon-sl-reload:before {
    content: "\f17e";
}
.icon-sl-refresh:before {
    content: "\f17f";
}
.icon-sl-document:before {
    content: "\f180";
}
.icon-sl-pin-1:before {
    content: "\f181";
}
.icon-sl-profile-1:before {
    content: "\f182";
}
.icon-sl-shelves:before {
    content: "\f183";
}
.icon-sl-shelf:before {
    content: "\f184";
}
.icon-sl-note:before {
    content: "\f185";
}
.icon-sl-magnifiying-glass:before {
    content: "\f186";
}
.icon-sl-settings-1:before {
    content: "\f187";
}
.icon-sl-heart-3:before {
    content: "\f188";
}
.icon-sl-star-1:before {
    content: "\f189";
}
.icon-sl-bookmark:before {
    content: "\f18a";
}
.icon-sl-user-5:before {
    content: "\f18b";
}
.icon-sl-add-2:before {
    content: "\f18c";
}
.icon-sl-search:before {
    content: "\f18d";
}
.icon-sl-user-6:before {
    content: "\f18e";
}
.icon-sl-close:before {
    content: "\f18f";
}
.icon-sl-remove-1:before {
    content: "\f190";
}
.icon-sl-email-1:before {
    content: "\f191";
}
.icon-sl-settings-2:before {
    content: "\f192";
}
.icon-sl-book-mark:before {
    content: "\f193";
}
.icon-sl-next:before {
    content: "\f194";
}
.icon-sl-brightness:before {
    content: "\f195";
}
.icon-sl-night:before {
    content: "\f196";
}
.icon-sl-group-1:before {
    content: "\f197";
}
.icon-sl-user-7:before {
    content: "\f198";
}
.icon-sl-list:before {
    content: "\f199";
}
.icon-sl-stopwatch:before {
    content: "\f19a";
}
.icon-sl-heart-6:before {
    content: "\f19b";
}
.icon-sl-favourite-2:before {
    content: "\f19c";
}
.icon-sl-glass:before {
    content: "\f19d";
}
.icon-sl-pitcher:before {
    content: "\f19e";
}
.icon-sl-coffee-11:before {
    content: "\f19f";
}
.icon-sl-instant-coffee-1:before {
    content: "\f1a0";
}
.icon-sl-measure:before {
    content: "\f1a1";
}
.icon-sl-padlock-1:before {
    content: "\f1a2";
}
.icon-sl-padlock-2:before {
    content: "\f1a3";
}
.icon-sl-padlock-3:before {
    content: "\f1a4";
}
.icon-sl-padlock-4:before {
    content: "\f1a5";
}
.icon-sl-padlock-5:before {
    content: "\f1a6";
}
.icon-sl-coffee-grinder-2:before {
    content: "\f1a7";
}
.icon-sl-water-drop:before {
    content: "\f1a8";
}
.icon-sl-scale:before {
    content: "\f1a9";
}
.icon-sl-balance:before {
    content: "\f1aa";
}
.icon-sl-weight-scale:before {
    content: "\f1ab";
}
.icon-sl-scales:before {
    content: "\f1ac";
}
