@import "variables";

nav {
  background-color: $color-primary-1;
  border-bottom: 1px solid $color-primary-4;
  box-shadow: 0 0 4px 0 $color-primary-4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .navbar {
    max-width: $container-xxl;
    height: $nav-height;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 2rem;

    @media screen and (max-width: $screen-lg) {
      padding: 0 1rem;
    }

    .nav-brand {
      color: $color-white;
      font-size: 2rem;
      padding: 1rem 0;
      transition: color .25s;
      line-height: 1;

      &:hover {
        color: $color-complementary-0
      }
    }

    .nav-links {
      position: absolute;
      transform: translateX(50%);
      right: 50%;
      gap: 0.5rem;
  
      @media screen and (max-width: $screen-lg) {
        display: none;
      }

      .link {
        color: $color-white;
        line-height: calc(#{$nav-height} - 2px);
        padding: 0 1rem;
        border-bottom-color: transparent;

        &:hover {
          color: $color-complementary-0;
          border-bottom-color: $color-complementary-0;
        }
      }
    }

    .nav-right {
      align-items: center;
      height: fit-content;
      gap: 0.5rem;

      .nav-authentication-btns {
        @media screen and (max-width: $screen-lg) {
          display: none;
        }
      }

      .nav-menu-expand {
        display: none;

        @media screen and (max-width: $screen-lg) {
          display: inline-block;
        }
      }
    }
  }

  .nav-links {
    .link {
      color: $color-primary-1;
      font-weight: 400;
      letter-spacing: -0.5px;
      font-size: 1.1rem;
      transition: border-bottom-color .25s;
      border-bottom: 3px solid;

      &:hover {
        color: $color-primary-1;
      }
    }
  }

  .nav-authentication-btns {
    gap: 0.5rem;
  }

  .nav-menu-expand, .nav-menu-collapse {
    font-size: 1.3rem;
    line-height: 0;
  }

  .btn {
    &.btn-primary-border {
      background-color: $color-primary-1;
      color: $color-white;
      border-color: $color-white;

      &:hover {
        background-color: $color-primary-2;
      }
    }
  }

  .nav-menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: $container-sm;
    height: 100vh;
    padding: 0 1rem;
    background-color: white;
    box-shadow: 0 0 2px 0 $color-primary-1;
    align-items: flex-end;
    gap: 1rem;

    @media screen and (min-width: $screen-lg) {
      display: none !important;
    }

    .nav-menu-controls {
      width: 100%;
      height: $nav-height;
      align-items: center;
      justify-content: flex-end;
    }

    .nav-links {
      gap: 1rem;
      width: 100%;
      margin-bottom: 2rem;

      .link {
        width: fit-content;
        border-bottom-color: $color-complementary-0;
        font-size: 1.4rem;
        font-weight: 200;

        &:hover {
          color: $color-complementary-0;
        }
      }
    }

    .nav-authentication-btns {
      width: 100%;
      justify-content: center;

      .btn-primary {
        background-color: white;
        color: $color-primary-1;

        &:hover {
          background-color: $color-primary-3;
        }
      }
    }

    &-background {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 50;
      width: 100vw;
      height: 100vh;
      background-color: $color-primary-1;
      opacity: 0.75;

      @media screen and (min-width: $screen-lg) {
        display: none !important;
      }
    }
  }
}
