@import "variables";

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  background-color: $color-secondary-dark;
  color: $color-secondary-light;

  .nav-links {
    display: flex;
    justify-content: center;
  }

  .nav-link {
    color: $color-secondary-light;

    &:hover {
      color: $color-secondary;
    }
  }
  button.nav-link {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  .nav-left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    i {
      color: $color-secondary-dark
    }
  }

  .nav-center {
    text-align: center;

    .nav-brand {
      font-family: $heading-font;
      font-size: 8rem;
      margin: -0.4rem 0;

      a {
        text-decoration: none;
        color: $color-brand;
      }
    }

    h2 {
      font-weight: 200;
      margin: 0 1rem;
    }
  }

  .nav-right {
    .nav-dropdown {
      .dropdown-button {
        font-size: 1.5rem;

        & i:first-child {
          margin-right: 0.25rem;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        left: auto;
        margin-top: 1.2rem;
        background-color: $color-white;
        box-shadow: 0 0.1rem 0.25rem $color-brand-light;
        z-index: 1;

        .nav-link {
          display: block;
          margin: 0 1rem;
          color: $ink;

          &:hover {
            color: $color-secondary-dark;
          }
        }
      }

      &:hover {
        .dropdown-button {
          color: $color-brand
        }

        .dropdown-content {
          display: block;
        }
      }
    }

    .nav-mobile-expand {
      display: none;
      font-size: 1.5rem;
    }

    .nav-link {
      font-size: 1rem;
      padding: 1.6rem 0 1.4rem;
      margin: 0 0.75rem;

      &.mobile-only {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .navbar {
    .nav-left .nav-links {
      display: none;
    }

    .nav-right {
      .nav-dropdown {
        display: none;
      }

      .nav-mobile-expand {
        display: block;
      }
    }

    .nav-link {
      padding: 1rem 0;
    }

    &.expanded {
      align-items: flex-start;

      .nav-left, .nav-links {
        flex-flow: column;
        align-items: flex-start;
      }

      .nav-left .nav-links {
        display: flex;
      }

      .nav-link {
        display: block;
      }
    }
  }
}

