@import "variables";

.pages {
  .banner-content {
    text-align: center;

    .page-title {
      h1 {
        font-family: $heading-font;
        font-size: 4.5rem;
        color: $color-complementary-0;
      }
    }

    .stats h2 {
      line-height: 1.2;
    }

    .cta {
      margin-top: 2rem;

      .btn {
        font-size: 1.2rem;
        font-weight: 500;

        box-shadow: 0 0 5px 5px $color-primary-opacity-50;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  section {
    margin: 1rem auto;
    text-align: center;

    &.introduction {
      max-width: $container-md;

      h2 {
        padding-top: 1rem;
      }
    }

    &.explanation {
      max-width: $container-lg;
      text-align: justify;
      padding: 0 0.4rem;

      h2, h3 {
        padding-top: 1rem;
      }

      @media screen and (max-width: $screen-sm) {
        ul {
          padding: 0;
          list-style-type: none;
        }
      }
    }

    p {
      font-size: 1.2rem;
    }
  }

  /* Content which is fed from MD files in /public */
  .content {
    margin: auto;
    text-align: justify;
    padding: 0 0.4rem;

    h3 {
      text-align: center;
      color: white;
    }

    p {
      padding-bottom: 0.4rem;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  &.about {
    .banner-content {
      max-width: $container-lg;

      .page-title {
        padding: 0 2rem;
        margin: 0 auto 1.5rem;
        max-width: $container-md;
      }
    }

    .content {
      line-height: 1.2;

      a {
        color: white;
        font-weight: 600;

        &:hover {
          font-style: italic;
          text-decoration: wavy underline 0.1rem;
        }
      }

      strong {
        font-weight: 600;
      }
    }

    .creators {
      max-width: 1200px;
      margin: 4rem auto 0 auto;
      display: flex;
      justify-content: space-between;

      .card {
        display: inline-block;
        padding: 2rem 4rem;
        text-align: center;
        min-width: 350px;

        h1 {
          font-size: 2rem;
        }

        img {
          max-width: 150px;
          border-radius: 40%;
        }

        &.phil {
          background: linear-gradient(160deg, #fee86e, #ffe56b, #fed65a 70%, #fbdc5f);
        }

        &.gareth {
          background-color: #4ffbdf;
          background-image: url("gareth-background.svg");
        }

        &.lawrence {
          background-color: #B2D85A;
        }

        .social-links {
          a {
            color: $ink;
            font-size: 48px;

            .la-twitter:hover {
              color: #5dbaec;
            }

            .la-github:hover {
              color: #24292f46;
            }

            .la-link:hover, .la-envelope:hover {
              color: $color-brand;
            }
          }
        }

        .bmc-btn svg {
          height: 32px !important;
          margin-bottom: 0 !important;
          box-shadow: none !important;
          border: none !important;
          vertical-align: middle !important;
          transform: scale(0.9);
          flex-shrink: 0;
        }

        .bmc-btn {
          min-width: 210px;
          color: $ink;
          height: 60px;
          border-radius: 12px;
          font-size: 24px;
          font-weight: Bold;
          border: none;
          padding: 0 24px;
          line-height: 27px;
          text-decoration: none;
          display: inline-flex !important;
          align-items: center;
          -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
          transition: background 0.3s ease;

          &:hover {
            background-color: #FFDD00;
          }
        }

        .bmc-btn:hover, .bmc-btn:active, .bmc-btn:focus {
          text-decoration: none !important;
          cursor: pointer;
        }

        .bmc-btn-text {
          display: inline-block;
          line-height: 0;
          width: 100%;
          flex-shrink: 0;
          font-family: $heading-font;
        }

        .logo-outline {
          fill: #000000;
        }

        .logo-coffee {
          fill: #ffffff;
        }
      }
    }
  }

  &.subscription {
    .banner-content {
      max-width: $container-lg;
      min-height: calc(100vh - 69px);

      .page-title {
        padding: 0 2rem;
        margin: 0 auto 1.5rem;
        max-width: $container-md;
      }
    }

    .sub-switch {
      margin: 5rem auto;
      max-width: 1200px;
      text-align: center;

      h3 {
        color: $color-primary-3;

        a {
          color: white;

          &:hover {
            color: $ink;
          }
        }
      }
    }
  }
}