@import "variables";

.roaster-card {
  //height: $container-xs;
  padding: 1rem 2rem;
  justify-content: space-between;


  .header {
    display: flex;
    justify-content: space-between;

    h3 {
      width: fit-content;
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
    }

    .location {
      font-size: 0.9rem;
      opacity: 0.8;
    }

    .available-coffees {
      align-self: center;
      text-align: center;
      font-size: 1.25rem;
      color: $color-primary-0;
    }
  }

  .row {
    overflow-y: auto;
  }
}