@import "variables";

.roasters {
  .banner {
    width: 100%;
    
    &.primary {
      background-color: $color-primary-1;

      .banner-content {
        padding-bottom: 4rem;
      }
    }

    &.secondary {
      background-color: $color-primary-2;
    }

    .banner-content {
      max-width: $container-md;
      margin: 0 auto;
      padding: 3rem 2rem;

      h2, p {
        color: $color-white;
      }

      .page-title {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1.5rem;

        h2 {
          line-height: 1;
        }

        &::before, &::after {
          content: "";
          height: 1px;
          background: $color-complementary-0;
          flex: 1 1 auto;
          margin-top: 2px;
        }

        &::before {
          margin-right: 1rem;
        }

        &::after {
          margin-left: 1rem;
        }
      }

      .search-form {
        .field {
          margin: 0.5rem 0;
        }

        .results {
          text-align: center;

          &:empty {
            appearance: none;
          }
        }
      }
    }
  }

  .roasters {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: $screen-lg) {
      padding: 2rem 1rem;
    }

    .roaster-card {
      background-color: white;
      border-radius: 2rem;
      flex-grow: 1;
      flex-basis: calc(25% - 2rem);
      max-width: calc(25% - 1rem);
      margin: 1rem;
      padding: 2rem;

      @media screen and (max-width: $screen-xxl) {
        flex-basis: calc(33% - 2rem);
        max-width: calc(33% - 1rem);
      }

      @media screen and (max-width: $screen-xl) {
        flex-basis: calc(33% - 2rem);
        max-width: calc(33% - 1rem);
        margin: 0.5rem;
      }

      @media screen and (max-width: $screen-lg) {
        flex-basis: calc(50% - 2rem);
        max-width: calc(50% - 1rem);
        margin: 0.5rem;
      }

      @media screen and (max-width: $screen-md) {
        flex-basis: 100%;
        max-width: 100%;
        margin: 1rem 0;
      }
    }
  }


  // .index-card {
  //   max-width: 1000px;
  //   margin: 1rem auto;
  //   text-align: center;
  //   border-radius: 2rem;
  //   overflow: hidden;
  //   box-shadow: 0 0 10px 0 #064763;

  //   &:hover {
  //     animation: pulse 1s infinite;
  //   }

  //   @keyframes pulse {
  //     0% {
  //       box-shadow: 0 0 10px 0 #064763;
  //     }
  //     70% {
  //       box-shadow: 0 0 30px 0 #064763;
  //     }
  //     100% {
  //       box-shadow: 0 0 10px 0 #064763;
  //     }
  //   }

  //   .name {
  //     background-color: $color-secondary-dark;
  //     color: $color-brand;


  //     h1 {
  //       font-family: $heading-font;
  //       font-size: 2.5rem;
  //     }
  //   }

  //   .socials {
  //     text-align: center;
  //     background-color: $color-secondary-dark;

  //     a i {
  //       font-size: 2rem;
  //       color: $color-secondary-light;

  //       &:hover {
  //         color: $color-secondary;
  //       }
  //     }
  //   }

  //   .reference {
  //   }


  //   .available_coffees {
  //   }

  //   .location {
  //   }

  //   .website, .roaster-link {
  //   }

  //   .roaster-link {
  //     font-size: 1.5rem;
  //     font-weight: 200;
  //   }
  // }

  // .show-card {
  //   max-width: 1000px;
  //   margin: 1rem auto;
  //   text-align: center;

  //   .socials {
  //     text-align: center;

  //     a i {
  //       font-size: 2.2rem;
  //       padding: 0 1rem;
  //     }
  //   }

  //   .description {
  //     font-size: 1.7rem;
  //     font-weight: 200;
  //   }

  //   .available_coffees, .location {
  //     display: none;
  //   }
  // }
}