@import "variables";

.roaster-card {
  padding: 1.5rem 2rem;
  justify-content: space-between;


  .header {
    display: flex;
    justify-content: space-between;

    h3 {
      width: fit-content;
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
    }

    .location {
      font-size: 0.9rem;
      opacity: 0.8;
    }

    .available-coffees {
      width: 20%;
      align-self: flex-start;
      font-size: 1.2rem;
      color: $color-primary-1;
      display:flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.25rem;

      i {
        font-size: 1.2rem;

      }
    }
  }

  .row {
    overflow-y: auto;
  }
}