@import "variables";

.roasters {
  &.index {
    .banner-primary-1 .banner-content {
      padding: 3rem 2rem 4rem;

      @media screen and (max-width: $screen-md) {
        padding: 2rem;
      }
    }

    .search-form {
      .field {
        margin: 1rem 0;
      }

      .results {
        text-align: center;

        &:empty {
          appearance: none;
        }
      }
    }
  }

  &.show {
    .banner-primary-1 .banner-content {
      .link {
        color: $color-white;
      }
      .socials .link {
        border-color: $color-white;
      }
    }

    .location {
      font-size: 0.9rem;
    }

    .description {
      margin: 1rem 0;
    }

    .socials {
      flex-direction: row-reverse;
      gap: 0.5rem;
    }

    .coffee-summary {
      text-align: center;
    }

    h4 {
      max-width: 1600px;
      margin: 0 auto;
      text-align: center;
    }

    .roasters.row {
      padding-top: 1rem;
    }
  }
}
