@import "fonts";

$font: 'Poppins', sans-serif;
$heading-font: 'Kolker', sans-serif;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$color-brand: #63DFE3;
$color-brand-light: #86E6EA;
$color-brand-dark: #0C4345;
$color-mid-0: #95b1b0;
$color-mid-1: #BEC9DF;
$color-white: #ecf0f1;

$color-secondary-light: #9ca8e0;
$color-secondary: #6774a9;
$color-secondary-dark: #06385b;

$ink: #021727;

$primary-box-shadow: 0 0.1rem 0.25rem $color-brand-light;