$font: 'Poppins', sans-serif;
$heading-font: 'Playball', sans-serif;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$container-sm: 300px;
$container-md: 600px;
$container-lg: 1200px;
$container-xl: 1600px;
$nav-height: 69px;

$color-brand: #D5B034;
$color-brand-light: #E0C467;
$color-brand-dark: #987C1F;
$color-mid-0: #95b1b0;
$color-mid-1: #BEC9DF;
$color-white: #e6edef;

$color-secondary: #03418C;
$color-secondary-light: #9ca8e0;
$color-secondary-dark: #011936;

//$ink: ##030027;
$ink: #021727;

$primary-box-shadow: 0 0.1rem 0.25rem $color-brand-light;

$warning: #FF8727;
$warning-light: #FFB479;
$warning-dark: #DE6402;
$danger: #FD272C;
$danger-light: #FE787C;
$danger-dark: #DC0208;

// From https://colorhunt.co/palette/041c3204293a064663ecb365

$color-primary-0: #064763; // Main Primary color */
$color-primary-1: #1f5973;
$color-primary-2: #9bb5c1;

$color-primary-opacity-10: rgba(6,71,99,0.1);
$color-primary-opacity-25: rgba(6,71,99,0.25);
$color-primary-opacity-50: rgba(6,71,99,0.5);

$color-complementary-0: #ECB365; // Complementary color */
$color-complementary-1: #FFE3BC;
$color-complementary-2: #FFD193;
$color-complementary-3: #CC903E;
$color-complementary-4: #A86F1F;
